arch="arm64"
platform="efi-arm64"

bootloader="u-boot"
boot_mode="grub"
bootargs="console=tty0 console=ttyAMA0,115200 root=LABEL=rootfs rootfstype=ext4 rootwait rw"
bootloader_url="https://github.com/u-boot/u-boot.git"
bootloader_branch="v2025.10"
bootloader_config="qemu_arm64_defconfig"
atf_compile="no"

kernel_url="https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git"
kernel_branch="v6.18.1"
kernel_config="linux-generic-arm64-lts.config"
kernel_flavor="sbc-efi-arm64"
kernel_pkgrel="0"
dtb_name="none"
initrd="yes"
rootfs_arch="aarch64"

part_table="gpt"
boot_size="256"
eth_interface="eth0"
kernel_firmware_packages="linux-firmware-none"

# QEMU virt exposes the ARM PL011 UART. The rootfs builder uses these values
# to create a matching OpenRC/BusyBox getty.
serial_console="ttyAMA0"
serial_baud="115200"
serial_getty="yes"
