arch="arm64"
platform="qemu"

bootloader="u-boot"
boot_mode="extlinux"
bootargs="console=tty0 console=ttyAMA0 rw root=PARTLABEL=rootfs rootfstype=ext4 rootwait loglevel=8"
bootloader_url="https://github.com/u-boot/u-boot"
bootloader_branch="v2025.10"
bootloader_config="qemu_arm64_defconfig"
atf_compile="no"

kernel_url="https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git"
kernel_branch="v6.18.1"
kernel_config="linux-generic-arm64-lts.config"
dtb_name="none"
rootfs_arch="aarch64"

part_table="gpt"
boot_size="256"
eth_interface="eth0"
