arch="arm64"
platform="qemu"

bootloader="u-boot"
boot_mode="extlinux"
bootargs="console=tty0 console=ttyAMA0,115200 rw root=LABEL=rootfs rootfstype=ext4 rootwait"
bootloader_url="https://github.com/u-boot/u-boot"
bootloader_branch="v2025.10"
bootloader_config="qemu_arm64_defconfig"
atf_compile="no"

kernel_group="generic-arm64"
dtb_name="none"
initrd="yes"
rootfs_arch="aarch64"

part_table="gpt"
boot_size="256"
eth_interface="eth0"
serial_console="ttyAMA0"
serial_baud="115200"
boot_timeout="1"
serial_getty="yes"
mdev_coldplug="no"
