arch="arm64"
platform="qemu"

bootloader="u-boot"
boot_mode="extlinux"
bootargs="console=ttyS0,115200 root=UUID=${uuid} rootfstype=ext4 rootwait rw earlycon loglevel=7"
bootloader_url="https://github.com/u-boot/u-boot"
bootloader_branch="v2025.10"
bootloader_config="qemu_arm64_defconfig"
atf_compile="no"

kernel_url="https://github.com/torvalds/linux"
kernel_branch="v6.12"
kernel_config="linux-generic-arm64-lts.config"

rootfs_arch="aarch64"
