arch="arm64"
platform="rockchip64"

bootloader="u-boot"
boot_mode="extlinux"
bootargs="console=ttyS2,1500000 console=tty1 consoleblank=0 root=LABEL=rootfs rootfstype=ext4 rootwait rw loglevel=8"
bootloader_url="https://github.com/u-boot/u-boot"
bootloader_branch="v2025.10"
# This board defconfig and its U-Boot-specific DT overlay are supplied below
# patches/u-boot/v2025.10/firefly-rk3566-roc-pc/files/.
bootloader_config="roc-pc-rk3566_defconfig"
bootloader_patchdir="firefly-rk3566-roc-pc/${bootloader_branch}"

atf_compile="no"
rkbin="yes"
soc="rk3566"

kernel_url="https://github.com/chainsx/rockchip-kernel.git"
kernel_branch="develop-6.6"
kernel_config="linux-rockchip64-bsp.config"
kernel_flavor="sbc-firefly-rk3566-roc-pc"
kernel_pkgrel="0"
dtb_name="rockchip/rk3566-roc-pc"
rootfs_arch="aarch64"
initrd="yes"

part_table="gpt"
boot_size="256"
eth_interface="eth0 eth1"
serial_console="ttyS2"
serial_baud="1500000"
