arch="arm64"
platform="amlogic"

bootloader="u-boot"
boot_mode="extlinux"
bootargs="console=ttyAML0,115200 console=tty1 consoleblank=0 root=LABEL=rootfs rootwait rootfstype=ext4 splash=verbose coherent_pool=2M loglevel=8"
bootloader_url="https://github.com/u-boot/u-boot.git"
bootloader_branch="v2025.10"
bootloader_config="khadas-vim3_defconfig"
bootloader_patchdir="khadas-vim3/${bootloader_branch}"

atf_compile="no"
amlogic_boot_fip="yes"
soc="a311d"

kernel_url="https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git"
kernel_branch="v6.12.60"
kernel_config="linux-amlogic-lts.config"
dtb_name="amlogic/meson-g12b-a311d-khadas-vim3"
rootfs_arch="aarch64"
initrd="yes"

part_table="msdos"
boot_size="256"
eth_interface="eth0"
