arch="arm64"
platform="stm32mp2"

bootloader="u-boot"
boot_mode="extlinux"
bootargs="console=ttySTM0,115200 earlyprintk earlycon root=LABEL=rootfs rootwait nosplash loglevel=8"
bootloader_url="https://github.com/MYiR-Dev/myir-st-u-boot.git"
bootloader_branch="develop-ld25x-v2023.10"
bootloader_config="myd_ld25x_1G_defconfig"
bootloader_patchdir="myb-stm32mp257x-1GB/${bootloader_branch}"

atf_compile="yes"
atf_url="https://github.com/MYiR-Dev/myir-st-arm-trusted-firmware.git"
atf_branch="develop-ld25x-v2.10"
atf_plat="stm32mp2"
atf_extra_config="STM32MP_LPDDR4_TYPE=1 STM32MP_SDMMC=1 ARM_ARCH_MAJOR=8 LOG_LEVEL=40 DTB_FILE_NAME=${board}.dtb SPD=opteed STM32MP25=1"

stm32mp2_boot_fip="yes"

optee_compile="yes"
optee_url="https://github.com/MYiR-Dev/myir-st-optee_os.git"
optee_branch="develop-ld25x-4.0"
optee_extra_config="PLATFORM=stm32mp2 CFG_EMBED_DTB_SOURCE_FILE=${board}.dts CFG_TEE_CORE_LOG_LEVEL=2"

soc="stm32mp257"

kernel_url="https://github.com/chainsx/linux-stm32mp2.git"
kernel_branch="linux-6.6"
kernel_config="linux-stm32mp2-bsp.config"
dtb_name="st/myb-stm32mp257x-1GB"
rootfs_arch="aarch64"
initrd="yes"

part_table="gpt"
boot_size="256"
eth_interface="eth0"
