arch="arm64"
platform="rockchip64"

bootloader="u-boot"
boot_mode="extlinux"
bootargs="console=tty0 console=ttyS0,115200 rw root=/dev/vda2 rootfstype=ext4 rootwait earlycon loglevel=8"
bootloader_url="https://github.com/u-boot/u-boot"
bootloader_branch="v2025.04"
bootloader_config="sakurapi_rk3308b_defconfig"
bootloader_patchdir="sakurapi-rk3308b/${bootloader_branch}"

atf_compile="no"
rkbin="yes"
soc="rk3308"

kernel_url="https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git"
kernel_branch="v6.12.60"
kernel_config="linux-rockchip64-lts.config"

rootfs_arch="aarch64"

part_table="gpt"
boot_size="256"