arch="arm64"
platform="rockchip64"

bootloader="u-boot"
boot_mode="extlinux"
bootargs="console=ttyS2,1500000 console=tty1 consoleblank=0 root=LABEL=rootfs rootfstype=ext4 rootwait rw"
bootloader_url="https://github.com/u-boot/u-boot"
bootloader_branch="v2025.04"
bootloader_config="sakurapi_rk3308b_defconfig"
bootloader_patchdir="sakurapi-rk3308b/${bootloader_branch}"

atf_compile="no"
rkbin="yes"
soc="rk3308"

kernel_group="rockchip64-lts"
dtb_name="rockchip/rk3308-sakurapi-rk3308b"
rootfs_arch="aarch64"
initrd="yes"

part_table="gpt"
boot_size="256"
eth_interface=""
serial_console="ttyS2"
serial_baud="1500000"
boot_timeout="1"
serial_getty="yes"
mdev_coldplug="yes"
